/* Colors #1DB954 #191414 */
body{
  background-color: #191414;
  color:white;
}
.pad{
  padding: 10%;
  }
.green{
  background-color: #1DB954;
  color:#191414;
}
.logo{
  height:15%;
  width:15%;
}
#login, #loggedin {
  display: none;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}
